#landing {
  width: 100vw;
  height: 100vh;
  padding-bottom: 80px;
  font-family: "Orbitron", sans-serif;
}

#name,
#title {
  color: rgba(220, 21, 21, 0);
  -webkit-text-fill-color: rgba(
    255,
    255,
    255,
    0
  ); /* Will override color (regardless of order) */
  -webkit-text-stroke: 2px #0080ff;
  max-width: fit-content;
}

#title {
  letter-spacing: 1px;
}

#name:hover,
#title:hover {
  filter: brightness(1.5) drop-shadow(0 0 10px #0080ff);
}

.arc-reactor {
  position: relative;
  width: 300px;
  height: 300px;
  background: url("/arcreactor.svg") no-repeat center center/contain;
  transition: box-shadow 1s ease;
}

.arc-reactor:hover {
  filter: brightness(1.5) drop-shadow(0 0 10px #0080ff);
}
