* {
  box-sizing: border-box;
}

body {
  background-color: #161616 !important;
  color: white !important;
  background-image: radial-gradient(
    rgba(247, 247, 247, 0.38) 2px,
    transparent 2px
  );
  background-size: 64px 64px;
  font-family: "Orbitron", sans-serif;
  margin: 0;
  padding: 0;
}

html {
  margin: 0;
  padding: 0;
  scroll-padding-top: 120px;
}

.offcanvas-bg {
  background-color: #161616 !important;
  background-image: radial-gradient(
    rgba(247, 247, 247, 0.38) 2px,
    transparent 2px
  );
  background-size: 64px 64px;
}

.navbar-toggler-icon {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba(0, 128, 255, 1)' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e") !important;
}

.navbar-toggler {
  border-color: #0080ff;
  border-width: 2px;
}

.navbar-toggler:focus {
  box-shadow: none;
}

#header {
  background-color: #161616 !important;
  z-index: 999;
  background-image: radial-gradient(
    rgba(247, 247, 247, 0.38) 2px,
    transparent 2px
  );
  background-size: 64px 64px;
}

#name {
  color: rgba(220, 21, 21, 0);
  -webkit-text-fill-color: rgba(
    255,
    255,
    255,
    0
  ); /* Will override color (regardless of order) */
  -webkit-text-stroke: 2px #0080ff;
  max-width: fit-content;
}

#title {
  color: rgba(220, 21, 21, 0);
  -webkit-text-fill-color: rgba(
    255,
    255,
    255,
    0
  ); /* Will override color (regardless of order) */
  -webkit-text-stroke: 2px #0080ff;
  letter-spacing: 1px;
}

#name:hover, #title:hover {
  filter: brightness(1.5) drop-shadow(0 0 10px #0080ff);
}

.header-item {
  color: #0080ff !important;
  position: relative;
  display: block;
  margin: 20px 0;
  padding: 10px 20px;
  text-decoration: none;
  transition: 0.5s;
  z-index: 1;
  &:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-top: 2px solid #262626;
    border-bottom: 2px solid #262626;
    transform: scaleY(2);
    opacity: 0;
    transition: 0.3s;
  }
  &:after {
    content: "";
    position: absolute;
    top: 2px;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #585858;
    transform: scale(0);
    opacity: 0;
    transition: 0.3s;
    z-index: -1;
  }
  &:hover {
    color: #fff !important;
    &:before {
      transform: scaleY(1);
      opacity: 1;
    }
    &:after {
      transform: scaleY(1);
      opacity: 1;
    }
  }
}

#blurb {
  letter-spacing: 4%;
  background-color: #0080ffa9;
}

#landing {
  width: 100vw;
  height: 100vh;
  padding-bottom: 80px;
}

section {
  scroll-padding-top: 80px;
  min-width: 100%;
  min-height: 100vh;
}

.section-header {
  color: rgba(220, 21, 21, 0);
  -webkit-text-fill-color: rgba(
    255,
    255,
    255,
    0
  ); /* Will override color (regardless of order) */
  -webkit-text-stroke: 2px #ffffff;
}

#experience .nav-link {
  color: white;
}

.nav-link.active {
  background-color: transparent !important;
}

.light-blue-border {
  border-color: #0080ff !important;
}

#technology-list li,
#experience-list li {
  list-style-type: "- ";
}

.arc-reactor {
  position: relative;
  width: 300px;
  height: 300px;
  background: url("/arcreactor.svg") no-repeat center center/contain;
  transition: box-shadow 1s ease;
}

.arc-reactor:hover {
  filter: brightness(1.5) drop-shadow(0 0 10px #0080ff);
}
