* {
  box-sizing: border-box;
}

body {
  background-color: #161616 !important;
  color: white !important;
  font-family: "Figtree", sans-serif;
  margin: 0;
  padding: 0;
}

html {
  margin: 0;
  padding: 0;
  scroll-padding-top: 80px;
}


#header {
  background-color: #161616 !important;
  z-index: 999;
}

#name {
  color: rgba(220, 21, 21, 0);
  -webkit-text-fill-color: rgba(
    255,
    255,
    255,
    0
  ); /* Will override color (regardless of order) */
  -webkit-text-stroke: 2px #0080ff;
  max-width: fit-content;
}

#title {
  color: rgba(220, 21, 21, 0);
  -webkit-text-fill-color: rgba(
    255,
    255,
    255,
    0
  ); /* Will override color (regardless of order) */
  -webkit-text-stroke: 2px #0080ff;
  letter-spacing: 1px;
}

#name:hover {
  text-shadow: 0 0 10px #0080ff;
}

.header-item {
  color: #0080ff !important;
}

#blurb {
  letter-spacing: 4%;
  background-color: #0080ffa9;
}

section {
  scroll-padding-top: 80px;
  width: 100%;
  height: 100vh;
}

.section-header {
  color: rgba(220, 21, 21, 0);
  -webkit-text-fill-color: rgba(
    255,
    255,
    255,
    0
  ); /* Will override color (regardless of order) */
  -webkit-text-stroke: 2px #ffffff;
}

#experience .nav-link {
  color: white;
}

.nav-link.active {
  background-color: transparent !important;
}
